:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  position: relative;

  section {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &.header, &.item, &.space {
    //
    /**
     * Do not have both the dragging and moved-up classes.
     * Do not have both the dragging and moved-down classes.
     * Do not have a sibling element with the separator and moved-up classes.
     */
    &:not(.dragging.moved-up):not(.dragging.moved-down):not(:has(+ .separator.moved-up)) {
      section {
        border-left: 3px solid #d3d3d3;
        border-right: 3px solid #d3d3d3;
      }
    }
  }

  article {
    display: flex;
    height: 100%;
    margin: 0 10px;
    padding: 0 10px;
    align-items: center;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;

    p {
      margin: 0;
    }
  }

  &:not(.last-of-group) article {
    border-bottom: 1px solid #3b3b3b;
  }

  h6 {
    cursor: pointer;
    margin: 0;
  }

  &.header {
    height: 70px;

    h6 {
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    article {
      -webkit-line-clamp: 2;
    }

    &.expanded {
      height: 150px;
    }
  }

  &.item {
    height: 34px;

    article {
      -webkit-line-clamp: 8;
    }

    &.expanded {
      height: 200px;
    }
  }

  &.dragging {
    article {
      border: none;

      > * {
        opacity: 0;
      }
    }
  }

  &.header, &.item {
    ::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      box-sizing: border-box;
      width: 100%;
      height: 0;
      z-index: 999;
      border-left: 3px solid #d3d3d3;
      border-right: 3px solid #d3d3d3;
      transition: height .2s, top .2s;
      transition-delay: .2s;
      pointer-events: none;
    }
  }

  &.header ::after {
    max-height: 50%;
  }

  &.moved-up:not(.last-of-group) {
    ::after {
      top: 100%;
      height: 100%;
      transition: none;
    }
  }

  &.moved-down:not(.header) {
    ::after {
      top: -100%;
      height: 100%;
      transition: none;
    }
  }

  &.separator {
    height: 30px;
    border: none;

    article {
      padding: 0;
      margin: 0;
      height: 10px;
      border: 3px solid #d3d3d3;
    }

    &.separator-top {
      article {
        border-bottom: none;
        border-radius: 10px 10px 0 0;
        margin-top: 20px;
      }
    }

    &.separator-bottom {
      article {
        border-top: none;
        border-radius: 0 0 10px 10px;
        margin-bottom: 20px;
      }

      ::before {
        content: '';
        position: absolute;
        top: -34px;
        left: 0;
        box-sizing: border-box;
        width: 100%;
        height: 34px;
        z-index: 999;
        border-left: 3px solid #d3d3d3;
        border-right: 3px solid #d3d3d3;
        transition: height .2s, top .2s;
        transition-delay: .2s;
        pointer-events: none;
      }
    }
  }

  &.space {
    height: 34px;

    article {
      justify-content: center;

      h6 {
        color: #706f6f;
      }
    }
  }
}
