:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  //transition: all .2s ease-in-out;
  box-sizing: border-box;
  position: relative;
  border-left: 3px solid #d3d3d3;
  border-right: 3px solid #d3d3d3;

  section {
    display: flex;
    height: 100%;
    margin: 0 10px;
    padding: 0 10px;
    align-items: center;
  }

  &:not(.last-of-group) section {
    border-bottom: 1px solid #3b3b3b;
  }

  h6 {
    cursor: pointer;
    margin: 0;
  }

  article {
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #000;

    p {
      margin: 0;
    }
  }

  &.header {
    height: 70px;

    h6 {
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    article {
      -webkit-line-clamp: 2;
    }

    &.expanded {
      height: 150px;
    }
  }

  &.item {
    height: 34px;

    article {
      -webkit-line-clamp: 8;
    }

    &.expanded {
      height: 200px;
    }
  }

  &.dragging {
    section {
      border: none;

      > * {
        opacity: 0;
      }
    }
  }

  ::after {
    content: '';
    position: absolute;
    top: 100%;
    left: -3px;
    width: 100%;
    height: 0;
    z-index: 999;
    border-left: 3px solid #d3d3d3;
    border-right: 3px solid #d3d3d3;
    transition: height .2s, top .2s;
    transition-delay: .2s;
    pointer-events: none;
  }

  &.moved-up:not(.last-of-group) {
    ::after {
      top: 100%;
      height: 100%;
      transition: none;
    }
  }

  &.moved-down:not(.header) {
    ::after {
      top: -100%;
      height: 100%;
      transition: none;
    }
  }

  &.separator {
    height: 30px;
    border: none;

    section {
      padding: 0;
      margin: 0;
      height: 10px;
      border: 3px solid #d3d3d3;
    }

    &.separator-top section{
      border-bottom: none;
      border-radius: 10px 10px 0 0;
      margin-top: 20px;
    }

    &.separator-bottom section{
      border-top: none;
      border-radius: 0 0 10px 10px;
      margin-bottom: 20px;
    }
  }
}
