<section class="list-wrapper" cdkVirtualScrollingElement>
    <h1>List using Angular CDK Virtual Scroll + Pragmatic</h1>

    <cdk-virtual-scroll-viewport
            customVirtualScrollStrategy
            [itemHeights]="itemHeights()"
            class="example-viewport"
    >
        <app-item
            *cdkVirtualFor="let item of items(); index as i; trackBy: trackById"
            [attr.data-index]="i"
            class="example-item"
            [item]="item"
            (itemChange)="onItemChanged($event)"
        />
    </cdk-virtual-scroll-viewport>
</section>

