<section class="list-wrapper" cdkVirtualScrollingElement>
  <h1>List using Angular CDK Virtual Scroll + Pragmatic</h1>

  <cdk-virtual-scroll-viewport
    customVirtualScrollStrategy
    [itemHeights]="itemHeights()"
    class="example-viewport"

    appDrop
    [dropItems]="items()"
    [dropScrollingElementSelector]="'.list-wrapper'"
    (onItemsReordered)="onItemsReordered($event)"
    (onDropped)="onDropped()"
  >
    <app-item
      *cdkVirtualFor="let item of items(); index as i; trackBy: trackById"
      class="example-item"
      [item]="item"
      [nextItem]="items()[i + 1]"
      (itemChange)="onItemChanged($event)"

      appDrag
      [dragItem]="item"
      [dragAllowedEdges]="item.type === 'space' ? ['bottom'] : ['top', 'bottom']"
      [dragPlaceholderSize]="{ height: item.type === 'header' ? HEADER_SIZE : ITEM_SIZE }"
      [dragPreviewComponent]="ItemDragPreviewComponent"
      [dragPreviewOffset]="{ x: 0, y: item.type === 'header' ? 50 : 0 }"
      [dragIndentThreshold]="50"
      [dragCanDrag]="item.type !== 'separator' && item.type !== 'space'"
      [dragCanDrop]="canDrop.bind(this)"
      (onDragStarted)="onDragStarted(item)"
      (onDragPreviewCreated)="setDragPreviewInputs($event, item)"
      (onDropTargetDragged)="onDropTargetDragged($event)"
    />
  </cdk-virtual-scroll-viewport>
</section>

