<section class="list-wrapper" cdkVirtualScrollingElement>
  <h1>List using Angular CDK Virtual Scroll + SortableJS</h1>

  <cdk-virtual-scroll-viewport
    customVirtualScrollStrategy
    [itemHeights]="itemHeights()"
    [appendOnly]="isDragging()"

    class="example-viewport"

    dragDrop
    [listElementSelector]="'.cdk-virtual-scroll-content-wrapper'"
    [scrollElementSelector]="'.list-wrapper'"
    [previewComponent]="itemDragPreviewComponent"
    [dragData]="items()"
    [dragDataIndex]="dragDataIndex()"
    (onDragStart)="onDragStart($event)"
    (onDragEnd)="onDragEnd($event)"
    (onDragMove)="onDragMove($event)"
    (onPreviewCreate)="onPreviewCreate($event)"
  >
    <app-item
      *cdkVirtualFor="let item of items(); trackBy: trackById"
      class="example-item"
      [item]="item"
      [dragEvent]="moveEvent()"
      (itemChange)="onItemChanged($event)"
    >
      <div *dragPreview class="preview">
        <h6>{{ item().title }}</h6>
      </div>
    </app-item>
  </cdk-virtual-scroll-viewport>
</section>

