:host {

}

.list-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 20px;
}

.item-wrapper {
  width: 100%;
}

.example-viewport {
  flex: 1;
  width: 100%;
  box-sizing: border-box;
}

.example-item {
  height: 50px;
  overflow: hidden;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}

.sortable-chosen {
  user-select: none;
}

.sortable-drag {
  height: auto !important;
  min-height: auto !important;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  opacity: 1 !important;
  user-select: none;
}

.sortable-ghost {
  opacity: 0;
}
