:host {
  display: flex;
  align-items: center;
  background-color: #dddddd;
  padding: 5px;
  box-sizing: border-box;
  transition: 16ms ease-in-out;
  justify-content: space-between;

  h6 {
    margin: 0;
    padding: 0;
  }

  span {
    font-size: 10px;
    padding-right: 40px;
  }

  &.item {
    height: 34px;
  }

  &.header {
    height: 50px;

    h6 {
      font-size: 16px;
    }
  }
}
